{% extends 'health/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block headblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- make panel clickable -->
  <script src="{% static "js/schedule_panel.js" %}"></script>
  <link href="{% static "css/schedule_panel.css" %}" rel="stylesheet">
{% endblock %}

{% block topic1 %}
<a href="{% url 'create_account' %}">Create an account</a>
{%endblock%}
{% block bodyblock %}
<h2>Create an account</h2>
<div class="wrapper">
  <form id="user_form" method="post" >
    {% csrf_token %}
    <div>
      {% for field in form.visible_fields %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:'form-control' }}
          {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <input type="submit" name="submit">

  </form>
</div>
{%endblock%}
