<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  {% block headblock %}{% endblock %}

<!-- Custom styles for sidebar-->
  <link href="{% static "css/sidebar.css" %}" rel="stylesheet">

</head>

<body id="page-top">

  <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {% block topic1 %}{%endblock%}
  {% block topic2 %}{%endblock%}
  {% block topic3 %}{%endblock%}
  {% block topic4 %}{%endblock%}
  {% block topic5 %}{%endblock%}
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776; Toggle Sidebar</button>
  <h2>Hi! {{current.first_name}}</h2>
  <p><a href="{% url 'account_logout' %}">logout</a></p>
  <p>{% block bodyblock %}{%endblock%}</p>
</div>

  <!-- Sidebar scripts for this page -->
  <script src="{% static "js/sidebar.js" %}"></script>

</body>

</html>
