{% extends 'health/base.html' %}
{% load static %}
{% block headblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- make panel clickable -->
  <script src="{% static "js/schedule_panel.js" %}"></script>
  <link href="{% static "css/schedule_panel.css" %}" rel="stylesheet">
{% endblock %}
{% block topic1 %}
<a href="{% url 'recep_schedule' %}">Schedule</a>
{%endblock%}

{% block topic2 %}
<a href="{% url 'recep_book' %}">Book an appointment</a>
{%endblock%}

{% block bodyblock %}
<h3>Appointments for today</h3>
{% if appoints %}
  {% for i in appoints %}
    <div class="panel panel-default">
      <div class="panel-heading">Appointment</div>
      <div class="panel-body" style="text-align:center">
        Patient: {{i.patient.first_name}}{{i.patient.last_name}}<br>
        Doctor: {{i.doctorid.first_name}}{{i.doctorid.last_name}}<br>
        Date: {{i.date}}<br>
        Time: {{i.time}}<br>
        <a href="{% url 'recep_cancel' i.id %}">Cancel</a>
      </div>
    </div>
  {% endfor %}
{% endif %}
{%endblock%}
